.contacts-panel
  background-color: $darker
  color: white
  width: 100%
  text-align: right

  .social-block
  .email-block
  .phone-block
    vertical-align: middle
    display: inline-block
    line-height: 3
    height: 100%

  .email-block
    border-left: 1px solid $dark
    border-right: 1px solid $dark
    padding: 0 20px
    margin: 0 20px

  .social-links
    margin: 10px 20px

    a
      width: 20px
      height: 20px

@media (max-width: $mobile_width)
  .contacts-panel
    display: none

