/* --------------------- prefix ------------------------ */

transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments

mask-image()
  -webkit-mask: arguments
  -moz-mask: arguments
  -ms-mask: arguments
  -o-mask: arguments
  mask: arguments


/* --------------------- app width ------------------------ */

$mobile_width = 991px
$mobile_s_width = 320px

/* --------------------- colors ------------------------ */

$lighter = #F3F3F3
$light = #E5E5E5
$gray = #9b9b9b
$dark = #666666
$darker = #464646

$light_blue = #3FC7FA
$dark_blue = #14A3FF

$green = #82D428
$white = #FFFFFF
$orange = #F86624
$negative = #FBE4BF
$positive = #BAE3F8
$bg = #F8F8F8
$color_text = #4a4a4a
