.share-with

  .share-with-block
    margin: 20px auto 60px

  .share-title
    color: $gray
    font-size: 1.2em
    margin-right: 10px
    vertical-align: 8px

  .share-button
    width: 30px
    height: 30px
    display: inline-block
    cursor: pointer
    background-size: 95%
    margin-right: 10px

    &:last-child
      margin-right: 0

    &.fb
      background: url('./cc_icons/ico_share_fb.svg') 50% 50% no-repeat

    &.tweet
      background: url('./cc_icons/ico_share_tweet.svg') 50% 50% no-repeat

    &.google
      background: url('./cc_icons/ico_share_google.svg') 50% 50% no-repeat

    &.linkedin
      background: url('./cc_icons/ico_share_linkedin.svg') 50% 50% no-repeat

    &.email
      background: url('./cc_icons/ico_share_email.svg') 50% 50% no-repeat


