.tweets-filter
  display: inline-block
  position: absolute
  right: 20px
  top: 10px
  background-color: $lighter
  padding: 0
  border-radius: 4px

.tweets-filter-label
  display: inline-block
  padding: 5px 7px

.tweets-filter-reset
  float: right
  width: 25px
  height: 25px
  display: inline-block
  border-left: 1px solid white
  cursor: pointer
  border-radius: 0 4px 4px 0
  background: url('./cc_icons/ico_close.svg') 50% 50% no-repeat $light_blue
  background-size: 95%
  transition: background-color 0.3s

.tweets-filter-reset:hover
  background-color: $dark_blue

@media (max-width: $mobile_s_width)
  .tweets-filter-label
    overflow: hidden
    text-overflow: ellipsis
    max-width: 155px
    white-space: nowrap
